.avatar {
  height: 40px;
  width: 40px;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  font-family: "Poppins" !important;
}

.user-name {
  margin-left: 10px;
}

.post {
  width: 100%;
  height: 100%;
  /* background-color:yellow ; */
}
.post-card {
  /* margin-left: 30%; */
  max-width: 450px;
  max-height: 600px; /* background-color: red; */
  margin-top: 10px;
  border-radius: 10px;

  box-shadow: none !important;
  
}

.post-text {
  font-family: "Poppins" !important ;
}

.vote-icon {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  bottom: 60px;
}
.vote {
  border: none;
  background-color: transparent;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}


.image-post {
  width: 100%;

    height: 30vw;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.avatar-group {
  margin-top: -40px;
  margin-right: 300px;

}

.image-card {
}

.post-icons-stack {
  margin-left: 56%;
  margin-top: -45px;
  
}
.trend-icon{
margin-top: 5px;
}