 .home-nav-label {
  font-family: "Poppins" !important;
  color: var(--Pepolls-dark-blue) !important;
  width: 150px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 70px;
}
.middle-home-nav{
  align-items: center;
  justify-content: center;
  display: flex;

}
/* .fixed-content{
  top: 0;
  bottom:0;
  position:fixed;
  width: 100%;
} */
